body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #0d0d0d;
}

a {
    color: #07618c;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#container {
    padding: 20px;
    min-width: 1000px;
}

.container {
    width: 100%;
    overflow: auto;

}

.left {
    width: 221px;
    float: left;

}

.logo {
    text-align: center;
    margin-bottom: 40px;
}

.menu {
    background: #fbfbfb;
    padding: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: auto;
    margin-bottom: 25px;

}

.menu li a {
    font-size: 15px;

}

.menu li {
    padding-bottom: 18px;

}

.menu li.last {
    padding-bottom: 0;
}

.container_bot {
    font-size: 11px;
    color: #333;
    padding-top: 85px;
    padding-bottom: 40px;
    overflow: auto;
}

.container_bot a {
    font-size: 11px;
}

.container_bot .left {
    text-align: center;

}

.banners {
    padding-top: 80px;
}

.made {
    margin-left: -20px;
}

.clients {
    border: 1px dashed #bfbfbf;
    padding: 10px;
    position: relative;
}

.clients .name {
    display: block;
    font-size: 18px;
    color: #000;
    padding-bottom: 14px;
}

.next {
    display: block;
    margin: 0 auto;
    background-image: url("../images/slide_arrow_top.jpg");
    background-repeat: no-repeat;
    background-position: top;
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-bottom: 10px;
}

.next:hover {
    background-position: bottom;
}

.prev {
    display: block;
    margin: 0 auto;
    background-image: url("../images/slide_arrow_bottom.jpg");
    background-repeat: no-repeat;
    background-position: top;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.prev:hover {
    background-position: bottom;

}

.slider li {
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    margin-bottom: 12px;
    padding-bottom: 15px;
    color: #555555;
    width: 100%;
    height: 85px;
}

.slider li span {
    display: block;
    position: relative;
    z-index: 500;


}

.slider li.first span {
    display: block;
    text-align: center;
    margin-top: -25px;
    font-size: 15px;
    padding-top: 0;
}

.slider li img {
    margin-bottom: 5px;
    opacity: 0.5;
}

.slider li img:hover{
    opacity: 1;
}

.slider {
    height: 400px;
}

.slider li.last {
    padding-bottom: 25px;

}

.slider li.first.real img {
    margin-bottom: -5px;

}

.right {
    margin-left: 271px;

}

.head {
    margin-bottom: 45px;
    overflow: auto;
}

.head .contacts {
    float: right;
}

.head .cod {
    font-size: 11px;
    color: #999999;
    text-align: right;
    padding-bottom: 10px;
}

.phone {
    color: #333333;
    font-size: 35px;

}

.phone em {
    font-style: normal;
    color: #999999;
    font-size: 22px;
    display: block;
    float: left;
}

.phone span {
    display: block;
    float: left;
}

.adres {
    padding-top: 5px;

}

.adres em {
    font-style: normal;
    color: #909093;
    font-size: 11px;
    display: block;
    padding-bottom: 5px;

}

.adres a {
    color: #b40937;
    font-size: 12px;
    display: block;
    padding-bottom: 5px;
}

.arr {
    background: url("../images/red_arrow.jpg") no-repeat right 3px;
    padding-right: 24px;
    float: left;
}

.head .first {
    float: left;
    background: url("../images/honest_first.jpg") no-repeat left;
    width: 425px;
    padding-top: 63px;
    padding-left: 79px;
}

.head .first a {
    display: block;
    color: #b40937;
    font-size: 12px;
}

.expert, .zastavim {
    width: 50%;
    float: left;
    min-height: 96px;
}

.mid {
    font-size: 15px;
    color: #0d0d0d;
    padding-bottom: 50px;

}

.mid p {
    line-height: 22px;
}

.mid a {
    font-size: 22px;
    display: block;
    padding-bottom: 10px;
}

.expert {
    background: url("../images/car_expertize.jpg") no-repeat left top;

}

.inf {
    padding-left: 106px;
    padding-right: 10px;
}

.zastavim {
    background: url("../images/zastavim_ico.jpg") no-repeat left top;

}

.menu_ico {
    margin-top: 100px;
    overflow: auto;
    margin-bottom: 50px;
}

.menu_ico ul {

}

.menu_ico li a {
    float: left;
    width: 33.3%;
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 37px;
    padding-top: 8px;
    margin-bottom: 6px;
    font-size: 15px;
    display: block;

}

.menu_ico li span {
    display: block;
    padding-left: 38px;
    padding-right: 10px;
}

.menu_ico li.car_expert a {
    background-image: url("../images/car_ico.jpg");
}

.menu_ico li.knife_expert a {
    background-image: url("../images/knife_ico.jpg");
}

.menu_ico li.photo_expert a {
    background-image: url("../images/photo_ico.jpg");
}

.menu_ico li.doc_expert a {
    background-image: url("../images/doc_ico.jpg");
}

.menu_ico li.car_expert a {
    background-image: url("../images/car_ico.jpg");
}

.menu_ico li.pen_expert a {
    background-image: url("../images/pen_ico.jpg");

}

.menu_ico li.hand_expert a {
    background-image: url("../images/hand_ico.jpg");
}

.menu_ico li.fire_expert a {
    background-image: url("../images/scribe_ico.jpg");
}

.menu_ico li.portret_expert a {
    background-image: url("../images/portret_ico.jpg");
}

.menu_ico li.video_expert a {
    background-image: url("../images/video_ico.jpg");
}

.menu_ico li.tovar_expert a {
    background-image: url("../images/cart_ico.jpg");
}

.menu_ico li.gun_expert a {
    background-image: url("../images/gun_ico.jpg");
}

.menu_ico li.bullet_expert a {
    background-image: url("../images/bullet_ico.jpg");
}

.menu_ico li.road_expert a {
    background-image: url("../images/road_ico.jpg");
}

.menu_ico li.remont_expert a {
    background-image: url("../images/home_ico.jpg");
}

h3 {
    color: #000;
    font-size: 18px;
    padding-bottom: 20px;
    display: block;

}

.status li {
    width: 50%;
    float: left;
    background-repeat: no-repeat;
    background-position: left center;
    min-height: 56px;
    font-size: 15px;
    color: #4a4a4a;
    padding-top: 10px;
    margin-bottom: 20px;
    line-height: 19px;

}

.first_place {
    background-image: url("../images/first_place_ico.jpg");
}

.diplomant {
    background-image: url("../images/diplomant_rf_ico.jpg");
}

.roo {
    background-image: url("../images/roo_ico.jpg");
}

.po {
    background-image: url("../images/audatex_ico.jpg");
}

.palat_member {
    background-image: url("../images/member_palat_ico.jpg");
}

.status {
    overflow: auto;
    margin-bottom: 20px;
}

.status li span {
    display: block;
    padding-left: 80px;
}

.all_clients {
    font-size: 12px;
    color: #bc244d;
    position: absolute;
    right: 10px;
    bottom: -25px;
}

.news {
    font-size: 12px;
    color: #2f2f2f;
    line-height: 16px;
    overflow: auto;
}

.news .new {
    width: 50%;
    float: left;
}

.news .date {
    font-size: 11px;
    color: #333333;
}

.news .name {
    margin-bottom: 15px;
    display: block;
    padding-right: 20px;
}

.news p {
    padding-right: 50px;
}

.all_news {
    display: block;
    margin-top: 15px;
    font-size: 12px;
    background: url("../images/blue_arrow.jpg") no-repeat right;
    float: left;
    padding-right: 12px;
}

.bot_phone {
    width: 50%;
    float: left;
    line-height: 15px;
}

.shems {
    width: 50%;
    float: left;
    line-height: 15px;
}

.breadcrumbs li {
    float: left;
    background: url("../images/gray_arrow.jpg") no-repeat right;
    padding-right: 15px;
    margin-right: 4px;
}

.breadcrumbs {
    overflow: hidden;
    margin-bottom: 20px;

}

.breadcrumbs a {
    font-size: 11px;
    color: #b30837;
    display: block;
}

.breadcrumbs li.active a {
    color: #a7a7a7;
    text-decoration: none;
}

.breadcrumbs li.active {
    background: none;
}

h1 {
    color: #3c3c3c;
    font-size: 28px;
    margin-bottom: 35px;

}

.left_but, .right_but {
    width: 50%;
    float: left;
}

.buts {
    overflow: auto;
    margin-bottom: 40px;

}

a.price, a.zakazat {
    background: url("../images/red_but_bg.jpg") repeat-x;
    display: inline-block;
    width: auto;
    height: 27px;
    border-radius: 17px;
    box-shadow: 0 0 4px #ccc;
    text-align: center;
    font-size: 19px;
    color: #fff;
    padding: 7px 20px 0;
    text-decoration: none;

}

a.price:hover, a.zakazat:hover {
    background: url("../images/red_but_bg_hover.jpg") repeat-x;
}

a.price {
    margin: 0 10% 0 25%;
}

.judge {
    border-bottom: 2px solid #ad1a36;
    overflow: auto;
    margin-bottom: 45px;
}

.judge .links {
    width: 45%;
    float: left;
}

.judge .post {
    width: 55%;
    float: left;
    background: url("../images/judge.jpg") no-repeat left;
    height: 421px;
}

.judge .post .info {
    padding-left: 238px;
    font-size: 20px;
    font-family: Georgia, sans-serif;
    color: #515151;
    line-height: 27px;
    padding-top: 80px;
    position: relative;
    float: left;
}

.judge .post .kavichka {
    background: url("../images/kavichki_right.jpg") no-repeat;
    width: 24px;
    height: 21px;
    position: absolute;
    bottom: -10px;
    right: 0;

}

.judge .post .podpis {
    background: url("../images/law_podpis.jpg") no-repeat;
    width: 160px;
    height: 51px;
    position: absolute;
    bottom: -60px;
    right: 30px;

}

.judge .links .break {
    font-size: 30px;
    text-decoration: none;
    display: block;
    padding-bottom: 60px;

}

.judge .links .break span {
    border-bottom: 1px dotted #3d78a2;
}

.judge .links .break span:hover {
    border: 0;

}

.judge .links .win {
    color: #282828;
    font-size: 30px;
    display: block;
    padding-bottom: 60px;

}

.judge .links .win strong {
    color: #ab1b36;
    font-size: 43px;
    font-weight: normal;
}

.judge .links .garanties {
    display: block;
    line-height: 48px;
    text-decoration: none;
    font-size: 18px;
}

.judge .links .garanties span {
    border-bottom: 1px dashed #3d78a2;
}

.judge .links .garanties span:hover {
    border: 0;
}

.judge .links .inner {
    padding-top: 60px;
}

.center {
    border-top: 1px dashed #bfbfbf;
    padding-top: 25px;
    overflow: auto;
}

.zakladki {
    overflow: visible;

}

.zakladki li {
    float: left;
    width: 200px;
    text-align: center;
    margin-right: -1px;
    height: 23px;
    border: 1px solid #8c8c8c;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    padding-top: 17px;

}

.zakladki li a {
    font-size: 13px;
    font-weight: bold;
    display: block;
}

.zakladki li.active {
    height: 31px;
    background: url("../images/zakladki_active_bg.jpg") repeat-x top;
    margin-bottom: -1px;
    margin-top: -7px;
    position: relative;
    z-index: 10;

}

.zakladki li.active a {
    text-decoration: none;
    color: #b30837;

}

.center .sod {
    border-top: 1px solid #8c8c8c;
    background: url("../images/sod_left_bg.jpg") no-repeat left top;
    overflow: visible;
    padding-left: 35px;
    padding-top: 35px;
    position: relative;
    border-bottom: 1px dashed #bfbfbf;
    margin-bottom: 40px;
}

.center .sod .bg {
    position: absolute;
    background: url("../images/sod_top_bg.jpg") no-repeat left;
    width: 106px;
    height: 1px;
    right: 0;
    top: -1px;
}

.news.lenta h3 {
    font-size: 28px;
    float: left;
    color: #292929;
    line-height: 28px;

}

.news.lenta {
    position: relative;
}

.rss {
    display: block;
    float: left;
    background: url("../images/rss_ico.jpg") no-repeat right;
    padding-right: 20px;
    padding-left: 5px;
    color: #919191;
    font-size: 12px;
    margin-top: 10px;

}

.news_menu {
    overflow: auto;
    margin-bottom: 30px;

}

.news_menu li {
    float: left;
    margin-right: 5px;
}

.news_menu li a {
    color: #ad1a36;
    display: block;
    padding: 2px 5px;
}

.news_menu li.active a {
    background: #ab1b36;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.yt a {
    display: block;
    background: url("../images/social_sprite.jpg") no-repeat bottom left;
    width: 28px;
    height: 26px;

}

.yt a:hover {
    background: url("../images/social_sprite.jpg") no-repeat top left

}

.tw a {
    display: block;
    background: url("../images/social_sprite.jpg") no-repeat -28px bottom;
    width: 28px;
    height: 26px;

}

.tw a:hover {
    background: url("../images/social_sprite.jpg") no-repeat -28px top;

}

.vk a {
    display: block;
    background: url("../images/social_sprite.jpg") no-repeat -56px bottom;
    width: 28px;
    height: 26px;
    margin-right: 1px;

}

.vk a:hover {
    background: url("../images/social_sprite.jpg") no-repeat -56px top;

}

.fb a {
    display: block;
    background: url("../images/social_sprite.jpg") no-repeat right bottom;
    width: 28px;
    height: 26px;

}

.fb a:hover {
    background: url("../images/social_sprite.jpg") no-repeat right top;

}

.likes {
    position: absolute;
    right: 0;
    top: -10px;

}

.likes li {
    float: left;
    margin-right: 1px;
}

.news.lenta {
    position: relative;
    overflow: auto;
}

.likes span {
    text-align: right;
    display: block;
    font-size: 11px;
    color: #919191;
    line-height: 13px;
    margin-bottom: 5px;
}

.fotolenta {
    overflow: auto;
    margin-bottom: 30px;
}

h4 {
    font-size: 22px;
    color: #292929;
    margin-bottom: 20px;
}

.gallery {
    background: #e6e6e6;
    height: 64px;
    padding: 10px 0;
    position: relative;
    width: 100% !important;
}

.gallery li {
    float: left;
    margin-left: 25px;
    height: 59px;

}

.gallery img {
    border: 2px solid #c5c5c5;
}

.gallery .next_but {
    position: absolute;
    right: 0;
    background: url("../images/right_red_arr.jpg") no-repeat;
    width: 27px;
    height: 84px;
    top: 0;
    cursor: pointer;
    z-index: 100;

}

.gallery .prev_but {
    position: absolute;
    left: 0;
    background: url("../images/left_red_arr.jpg") no-repeat;
    width: 27px;
    height: 84px;
    top: 0;
    cursor: pointer;
    z-index: 100;

}

.right_block {
    float: right;
    width: 208px;
}

.right_block .zag {
    font-size: 18px;
    color: #171717;
    margin-bottom: 15px;
    display: block;
}

.right_block img {
    display: block;
    margin-bottom: 10px;
    border: 2px solid #d9d9d9;
}

.right_block .name {
    color: #aa112e;
    font-size: 14px;
    margin-bottom: 7px;
}

.right_block em {
    font-size: 12px;
    display: block;
    color: #b4b4b4;
    margin-bottom: 5px;

}

.right_block .yet {
    color: #50a0d8;

}

.right_block .new_content {
    margin-bottom: 25px;
}

.left_block {
    margin-right: 238px;

}

.left_block img {
    border: 2px solid #d9d9d9;
    width: 167px;
    float: left;
}

.left_block .name {
    font-size: 18px;
    color: #50a0d8;
    margin-bottom: 6px;
}

.left_block .rubric {
    display: block;
    color: #50a0d8;
    margin-bottom: 12px;
}

.left_block em {
    color: #ab1b36;
    display: block;
    margin-bottom: 12px;
}

.left_block .text {
    margin-left: 182px;
    line-height: 18px;
}

.left_block .text p {
    margin-bottom: 15px;
}

.left_block .like .img {
    float: left;
    border: 0;
    display: block;
    margin-right: 10px;
}

.left_block .like img {
    float: left;
    border: 0;
    display: block;
    margin-right: 10px;

}

.left_block .comment {
    color: #50a0d8;
    display: block;
    padding-top: 5px;

}

.left_block .new_content {
    margin-bottom: 40px;
    overflow: auto;
}

.pagination span {
    display: block;
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}

.pagination li a {
    color: #ab1b36;
    display: block;
    padding: 5px 10px;
}

.pagination li {
    float: left;
}

.pagination li.active a {
    background: #ab1b36;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.video {
    background: #fff url("../images/video_imag.jpg") no-repeat center;
    height: 220px;
    border: 4px solid #f0f0f0;
    box-shadow: 0 0 2px #666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;

}

.ocenka {
    background: #ab1b36 url("../images/blik.jpg") no-repeat left;
    text-align: center;
    font-size: 40px;
    height: 49px;
    color: #fff;
    text-shadow: 1px 1px #62212d;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 12px;

}

.txt a.price {
    margin: 0 auto;
    display: block;
    background: url("../images/uznat_ceny.png") no-repeat top;
    width: 213px;
    height: 36px;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
    font-size: 24px;
    text-shadow: 1px 1px #62212d;
    padding-top: 13px;

}

.txt a.price:hover {
    background: url("../images/uznat_ceny.png") no-repeat bottom;

}

.txt .sum {
    color: #666565;
    font-size: 18px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.txt p {
    font-size: 18px;
    color: #000;
    line-height: 24px;
    text-align: center;
    margin-bottom: 15px;

}

.txt p span {
    font-size: 24px;

}

.tags {
    padding-top: 35px;
}

.tags .name {
    color: #000;
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}

.tags a {
    color: #686868;
    font-size: 12px;
    line-height: 16px;

}

.tags .size1 {
    font-size: 10px;
}

.tags .size2 {
    font-size: 12px;

}

.tags .size3 {
    font-size: 14px;
}

.tags .size4 {
    font-size: 16px;
}

.tags .size5 {
    font-size: 18px;
}

.select_block {
    margin-bottom: 60px;

}

.select_block .left_part {
    background: url("../images/left_top_line.jpg") no-repeat top;
    width: 240px;
    float: left;
    padding-top: 1px;
    position: relative;
    z-index: 100;
}

.select_block .left_part em {
    color: #969595;
    font-size: 11px;
    display: block;
    font-style: normal;
    padding-bottom: 7px;
}

.select_block .left_part span {
    text-decoration: none;
    border-bottom: 1px dotted #4d4c4c;
    color: #4d4c4c;
    font-size: 22px;
}

.select_block .left_part a {
    text-decoration: none;
}

.select_block .left_part li.active a {
    background: url("../images/red_active_punkt.png") no-repeat;
    width: 253px;
    display: block;
    color: #fff;
    margin-right: -23px;
    margin-left: -5px;
    padding-left: 15px;
}

.select_block .left_part li.active span, .select_block .left_part li.active em {
    color: #fff;
}

.select_block .left_part li.active span {
    border-bottom: 1px dotted #fff;
}

.select_block .left_part li {
    background: url("../images/left_li_razdel.jpg") no-repeat bottom;
    padding-bottom: 1px;

}

.select_block .left_part li a {
    height: 64px;
    display: block;
    padding-top: 21px;
    padding-left: 12px;
}

.select_block .left_part li.last span {
    font-size: 20px;
}

.select_block .right_part {
    margin-left: 240px;
    background: url("../images/right_line_razdel.jpg") no-repeat left top;
    min-height: 626px;
    border-top: 1px solid #585757;
    position: relative;
    padding-left: 1px;

}

.line_thin {
    position: absolute;
    background: url("../images/top_right_line_razdel.jpg") no-repeat;
    right: 0;
    top: -1px;
    width: 438px;
    height: 1px;
}

.select_block .right_part .context {
    background: url("../images/right_rad_line.png") no-repeat right bottom;
    /*min-height: 626px;*/
    padding-right: 2px;
}

.select_block .right_part .context .inner {
    padding-top: 25px;
    padding-bottom: 30px;
    /*background: url("../images/three_cars.jpg") no-repeat right top;*/
}

.what_do {

    border-bottom: 1px dashed #ad1a36;
    padding-bottom: 10px;
    overflow: auto;

}

.select_block .right_part .context .zag {
    font-size: 24px;
    color: #ad1a36;
    padding-left: 45px;
    display: block;
    margin-bottom: 25px;
}

.what_do ul {
    margin-left: 70px;
    display: block;
    float: left;

}

.what_do ul li {
    background: url("../images/list_marker_red.jpg") no-repeat left 4px;
    padding-left: 15px;
    font-size: 14px;
    margin-bottom: 20px;
    overflow: visible;
    /*display: inline-block;*/
}

.what_do .arr {
    background: url("../images/small_red_arow.jpg") no-repeat;
    width: 19px;
    height: 19px;
    cursor: pointer;
    margin-left: 8px;
    display: inline-block;
    float: none;
    margin-bottom: -6px;

}

.what_do li span {
    /*display:inline-block;*/

}

.srok {
    background: #f5f4f4; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #f5f4f4 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f5f4f4), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #f5f4f4 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #f5f4f4 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #f5f4f4 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to right, #f5f4f4 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f4f4', endColorstr = '#ffffff', GradientType = 1); /* IE6-8 */
    padding: 20px 40px 5px 45px;
    overflow: auto;
    border-bottom: 1px dashed #ad1a36;

}

.black {
    font-size: 18px;
    display: block;
    color: #000;
    padding-bottom: 20px;
}

.srok p {
    font-size: 14px;
    margin-bottom: 15px;
    padding-left: 25px;
    line-height: 20px;

}

.srok p span {
    color: #ad1a36;
    font-size: 20px;
}

.srok p em {
    font-style: normal;
    color: #828181;
}

.result {
    padding: 20px 20px 20px 45px;
    border-bottom: 1px dashed #ad1a36;

}

.result strong {
    color: #5d5c5c;
}

.result p {
    line-height: 20px;

}

.stoimost {
    padding: 20px 20px 20px 45px;

}

.stoimost .black {
    display: inline-block;
}

.stoimost p span {
    color: #ac1835;
    font-size: 36px;
}

.stoimost p {
    display: inline-block;
}

.stoimost p span em {
    font-style: normal;
    font-size: 18px;
}

.expert_company {
    margin-bottom: 50px;

}

.expert_company .zag {
    color: #ad1935;
    font-size: 24px;
    margin-bottom: 25px;
    display: block;

}

.expert_company .cont {
    background: url("../images/first_place_big.jpg") no-repeat left top;
    padding-left: 180px;

}

.expert_company ul {
    background: #f8f8f8;
    border-radius: 3px;
    -webkit-border-radius: 4px;

}

.expert_company li {
    border-bottom: 1px dashed #ad1a36;
    background: url("../images/list_marker_red.jpg") no-repeat 20px 23px;
    color: #403f3f;
    line-height: 24px;
    padding: 15px 0 15px 40px;

}

.expert_company li.last {
    border: 0
}

.give {

}

.give .zag {
    font-size: 22px;
    color: #ad1935;
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.give .left_part, .give .right_part {
    float: left;
    width: 50%;
    border-bottom: 1px dashed #bfbfbf;
    background: url("../images/red_ugol.png") no-repeat right bottom;


}

.give .left_part .inner {
    border-right: 1px dashed #bfbfbf;
    padding-right: 20px;
    overflow: auto;

}

.give .right_part .inner {
    padding-right: 20px;
    overflow: auto;

}

.give .img {
    display: block;
    text-align: center;

}

.give .right_part .inner {
    padding-left: 35px;
}

.give .first {
    color: #000;
    background: url("../images/list_marker_red.jpg") no-repeat left 8px;
    padding-left: 15px;
    margin-bottom: 0;
}

.give p {
    color: #918f8f;
    line-height: 22px;
    padding-left: 15px;
    margin-bottom: 45px;
}

.give strong {
    color: #6f6f6f;
}

.consultation {
    background: url("../images/consult_big_buttton.png") no-repeat top;
    width: 70px;
    height: 146px;
    position: fixed;
    right: -1px;
    top: 250px;
    cursor: pointer;
    z-index: 500;

}

.consultation:hover {
    background: url("../images/consult_big_buttton.png") no-repeat bottom;

}

.consult_window {
    position: fixed;
    right: 90px;
    width: 232px;
    background: #fff;
    overflow: auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px #666;
    display: none;
    z-index: 1000;
    top:250px;

}

.consultant img {
    float: left;
    border: 1px solid #bbb9b9;
    margin-right: 10px;

}

.consultant {
    padding: 15px;
    background: #fbfbfb;
    overflow: auto;

}

.consult_window .heading {
    background: url("../images/consult_bg.jpg") repeat-x;
    height: 29px;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}

.consultant .nic {
    color: #92172e;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;
}

.consultant p {
    color: #7b7a7a;
    font-size: 12px;
}

.window_name {
    float: left;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 15px;
}

.consult_window .svernut {
    float: right;
    background: url("../images/consult_ico.png") no-repeat left top;
    width: 12px;
    height: 13px;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 10px;
    cursor: pointer;

}

.consult_window .close {
    float: right;
    background: url("../images/consult_ico.png") no-repeat right top;
    width: 12px;
    height: 13px;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 15px;
    cursor: pointer;
}

.consult_window textarea{
    background: #fff;
    border: 1px solid #ccc9c9;
    width: 198px;
    margin-left: 15px;
    resize: none;
    height: 125px;
    margin-top: 15px;
    font-family: arial, sans-serif;
    margin-bottom: 15px;
}

.send{
    background: url("../images/-consult_but.jpg") no-repeat left;
    width: 97px;
    display: block;
    float: right;
    height: 22px;
    color: #fff;
    text-shadow: 1px 1px #5a0313;
    text-align: center;
    font-size: 13px;
    margin-right: 15px;
    text-decoration: none;
    padding-top: 8px;


}

.send:hover{
    background: url("../images/-consult_but.jpg") no-repeat right;

}

.give .arr{
    cursor: pointer;
    background: url("../images/small_red_arow.jpg") no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
    float: none;
    margin-bottom: -5px;

}





/*nov*/


.right-banners {
    float: right;
    width: 350px;
}

.right-banners h2 {
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
}

.banner-red {
    border-radius: 10px;
    background: #c63e58;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2M2U1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZDFhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #c63e58 0%, #ad1a36 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c63e58), color-stop(100%,#ad1a36));
    background: -webkit-linear-gradient(top,  #c63e58 0%,#ad1a36 100%);
    background: -o-linear-gradient(top,  #c63e58 0%,#ad1a36 100%);
    background: -ms-linear-gradient(top,  #c63e58 0%,#ad1a36 100%);
    background: linear-gradient(to bottom,  #c63e58 0%,#ad1a36 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c63e58', endColorstr='#ad1a36',GradientType=0 );
    box-shadow: 0 2px 1px #666;
    overflow: auto;
    border:1px solid #940d27;
    color: #fff;
    padding: 15px 20px;
    font-size: 15px;
}

.banner-red h3 {
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    padding: 0;
}

.banner-red.service h3 {
    text-align: left;
    padding-top: 25px;
}

.banner-red img, .banner-white img {
    float: left;
    margin-right: 15px;
}

.banner-red ul {
    margin-left: 85px;
}

.banner-red ul li {
    margin-bottom: 20px;
    padding-left: 14px;
    background: url("../images/li_white.png") no-repeat left 6px;
}

.banner-white {
    border-radius: 10px;
    background: #fff;

    box-shadow: 0 2px 1px #aaa;
    border:1px solid #939393;
    color: #000;
    padding: 15px 20px;
    font-size: 15px;
    margin: 20px 0;
    position: relative;
}

.banner-white .ballon {
    background: url("../images/ballon.png") no-repeat;
    width: 115px;
    height: 18px;
    position: absolute;
    top: -7px;
    right: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}

.banner-white h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    padding: 0;
}

.banner-white .inset {
    padding: 0;
    margin: 0;
}

.banner-white ul li {
    margin-bottom: 20px;
    padding-left: 14px;
    background: url("../images/list_marker_red.jpg") no-repeat left 9px;
}

.banner-white ul {
    margin-left: 100px;
}

.banner-white ul li strong {
    color: #ad1a36;
    font-size: 24px;
}

.banner-white .gray {
    background: #d7d6d6;
    color: #d72849;
    font-size: 10px;
    padding: 3px 10px 1px;
    border:1px solid #c8c8c8;
    display: inline-block;
    border-radius: 10px;
}

.calc {
    margin-right: 365px;
}

.calc h2 {
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;

}

.calc h2 span {
    color: #ad1a36;
}

#calculator {
    background: #ffffff;
    margin-bottom: 25px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e3e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e2e2));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e3e2e2 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e3e2e2 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e3e2e2 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#e3e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e2e2',GradientType=0 );
    border:1px solid #939393;
    border-radius: 15px;
    box-shadow: 0 2px 1px #aaa;
    padding: 15px;
}

.calc .sector {
    background: url("../images/sector.png") no-repeat bottom center;
    overflow: auto;
    padding: 20px 15px 0 0;
}

.calc .sector.last {
    background: none;
}

.calc .sector.last label {
    padding-bottom: 0;
}

.calc .sector .item {
    overflow: auto;
}

.calc .sector .label {
    float: left;
    font-size: 14px;
    padding-right: 35px;
    position: relative;
    padding-top: 2px;
    padding-bottom: 24px;
}

.calc .sector a.faq {
    background: url("../images/sprite_calc.png") no-repeat 0 0;
    width: 19px;
    height: 19px;
    display: block;
    top:0;
    right: 0;
    position: absolute;
}

.calc .sector .label span {
    color: #ad1a36;
}

.calc .sector label {
    float: right;
    background: url("../images/sprite_calc.png") no-repeat 0 -19px;
    display: block;
    width: 20px;
    height: 21px;
    cursor: pointer;

    overflow: hidden;
}

.calc .sector label.radio {
    background: url("../images/sprite_calc.png") no-repeat 0 -40px;
}

.calc .sector label.active {
    background: url("../images/sprite_calc.png") no-repeat -20px -19px;
}

.calc .sector label.radio.active {
    background: url("../images/sprite_calc.png") no-repeat -20px -40px;
}

.calc .sector label input {
    width: 0;
    height: 0;
    position: absolute;
    top: -500px;

}

.calc .sector.group {
    padding-bottom: 20px;
}

.calc .sector.group .label {
    float: right;
    padding-bottom: 12px;
    text-align: left;
    width: 74px;
    margin-left: 12px;
}


.calc .sector.group .name strong {
    display: block;
    padding-top: 50px;
    float: left;
}

.addservice {
    background: url("../images/red_arrow.jpg") no-repeat right 5px;
    padding-right: 25px;
    font-size: 14px;
    color: #aa1531;
}

.calc .sum {
    float: right;
    font-size: 20px;
}

.calc .bot_calc {
    overflow: auto;
    /*margin-bottom: 25px;*/
    height: 40px;
}

.calc .zakazat {
    margin: 0 auto;
    display: block;
    width: 240px;
}

.tarifs {
    overflow: auto;
}

.block-tarif {
    float: left;
    width: 48%;
    margin-right: 4%;
    padding-bottom: 20px;
    position: relative;
}

.block-tarif.last {
    margin-right: 0;
}

.block-tarif .inner {
    padding: 40px 12%;
    position: relative;
    text-align: center;
    height: 530px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f7f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f6f6));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f6f6 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f7f6f6 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f7f6f6 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f7f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f6f6',GradientType=0 );
    border-radius: 6px;
    border:1px solid #e9e9e9;
    box-shadow: 1px 1px 2px #ccc;
}

.block-tarif h2 {
    font-size: 30px;
    color: #5a5a5a;
    margin: 25px 0 40px;
    padding: 0;
    text-align: center;
}

.block-tarif h2 span {
    color: #ac1a36;
}

.block-tarif .desk {
    color: #686767;
    line-height: 24px;
    font-size: 14px;
    padding-bottom: 40px;
    text-align: left;
}

.block-tarif ul {
    padding-bottom: 50px;
}

.block-tarif ul li {
    text-align: left;
    padding-left: 20px;
    background: url("../images/list_marker_red.jpg") no-repeat left 9px;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 12px;
}

.block-tarif ul li a {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url("../images/slidearr.png");
    float: none;
    padding: 0;
    margin-bottom: -5px;
}

.block-tarif .botts {
    position: absolute;
    bottom: 40px;
    padding-right: 18%;

}